* {
    box-sizing: border-box;
}
body {
    background-color: #323232;
}
.topic {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400; 
    border: 1px solid transparent;
    text-align: center; 
    color: #ffc222;
    padding: 13px 26px;
    margin: 2% 30%;
}
.topic:hover {
    border: 1px solid #ffc222; 
    transition: all .3s;
}
iframe {
    margin: 10px auto;
    display: block;
}